/* 
ul.elevators{
  list-style:none;
}

ul.elevators li {
  background: #eee;
  width: 100px;
  float: left;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}


img.elevator{
  width: 50px;
  margin: 0 auto;
  position: relative;
  box-sizing:border-box;
  text-align:center;
  left:25%;
}
 */
